html {
  font-family: Tahoma sans-serif;
  background: url(./assets/stormtrooper_background.jpg) top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  font-family: sans-serif;
}

h1, h2 {
  color: white;
  text-shadow: 3px 3px black;
}

h2 {
  display: inline;
}

header {
  position: relative;
  padding: 20px;
  padding-top: 10px;
  border-bottom: 2px solid black;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
}

.button {
  float: right;
  margin: 10px;
  margin-top: 0px;
  height: 38px;
  width: 200px;
  border-radius: 5px;
  background-color: white;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding: 2px 0px 10px 0px;
  background: rgba(255, 255, 255, 0.9);
}

li {
  width: 90%;
  padding: 10px;
  margin: 20px;
  color: black;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.container {
  border: 2px solid black;
}

.search, .addMovie {
  background-color: rgba(11, 11, 75, 0.4);
  padding: 10px;
  width: 98%;
}

.search-button, .addMovie-button {
  font-size: 17px;
  border-radius: 4px;
}

#search-bar, #addMovie-bar {
  width: 85%;
  margin: 10px;
  font-size: 17px;
  border-radius: 2px;
  padding: 5px;
}